<%- include("partials/header") %>
<div class="container p-4">
        <div class="row shadow-lg rounded align-items-center justify-content-center p-5" id="signuprow">
            <div class="p-4 col-12 col-md-3 text-center">
                <h2 class="p-2">Register Lab</h2>
                <img class="img-fluid" src="../img/lab.svg">
            </div>
            <div class="p-4 col-12 col-md-9 rounded" id="districtcol">
                <h3 class="text-center p-3">Lab Registeration</h3>
                <form action="" method="POST">
                    <div class="row p-3 justify-content-center">
                        <div class="col-12 col-md-6">
                            <label for="username" class="col-form-label"><b>User name</b></label>
                            <input name="lab[username]" type="text" class="form-control" id="username" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="password" class="col-form-label"><b>Password</b></label>
                            <input name="password" type="password" class="form-control" id="password" required>
                        </div>
                    </div> 
                    <div class="row p-3 justify-content-center">
                        <div class="col-12 col-md-6">
                            <label for="name" class="col-form-label"><b>Lab Name</b></label>
                            <input name="lab[name]" type="text" class="form-control" id="name" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="phone_no" class="col-form-label"><b>Phone number</b></label>
                            <input name="lab[phone_no]" type="number" class="form-control" id="phone_no" required>
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <div class="col-12 col-md-6">
                            <label for="email" class="col-form-label"><b>Email</b></label>
                            <input name="lab[email]" type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <div class="p-4 text-center">
                            <button type="submit" class="shadow btn btn-dark btn-lg rounded-pill">Submit</button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
</div>

<%- include("partials/footer") %>