<%- include("partials/header") %>
<div id="loginbody" class="p-5">
    <div class="container">
        <div class="row shadow-lg rounded align-items-center">
            <div class="p-3 col-10 col-sm-7 text-center">
                <img class="img-fluid" src="../img/login_img.svg">
            </div>
            <div class="p-3 col-10 col-sm text-center">
                <h1 class="p-2">COVID-19</h1>
                <h3 class="p-2">Welcome!</h3>
                <h6 class="p-2">Sign in to your Account</h6>
                <form method="POST" action="/login">
                    <div class="p-2 form-group">
                        <label for="name" class="col-form-label"><i class="fa fa-user-circle-o"></i> User name</label>
                        <input name="uname" type="text" class="shadow form-control form-control-lg rounded-pill" id="uname" required>
                    </div>
                    <div class="p-2 form-group">
                        <label for="password" class="col-form-label"><i class="fa fa-lock"></i> Password</label>
                        <input name="password" type="password" class="shadow form-control form-control-lg rounded-pill" id="password" required>
                    </div>
                    <div class="p-4 form-group">
                        <button type="button" class="shadow btn btn-dark btn-lg rounded-pill">Sign in <i class="fas fa-sign-in-alt"></i></button> 
                    </div>
                </form>
                <div>
                    <div class="d-inline-block p-1">
                        <p class="">New user <i class="fas fa-user"></i> <i class="fas fa-question"></i>  </p>
                    </div>
                    <div class="d-inline-block p-1">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                    <div class="d-inline-block p-1">
                        <a href="/signup" class="p-2  shadow rounded-pill btn " id="login-a" style="background-color: #B6AE4F;">Sign up <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>


