body{
    color: floralwhite; 
    background-image: url('login_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
#loginbody{
    background-image: url('login_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#login-a{
    border-top: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
}


