html,body{
    height:100%;
    margin: 0;
}
#loginbody{
    background-image: url('../img/login_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.tab {
    display: none;
  }
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #b3abab;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
.step.active {
    opacity: 1;
  }
.step.finish {
    background-color: #0ebb7c;
}
#signup_btn{
    text-align: end;
}
#signuprow{
    background: rgb(0,191,166);
    background: linear-gradient(90deg, rgba(0,191,166,1) 0%, rgba(16,84,70,0.8578781854538691) 74%, rgba(0,255,183,1) 100%);
}
#signupcol{
    border: 2px solid aquamarine;
    background-color: whitesmoke;
    border-radius: 2%;
}
#signupcontainer{
    padding: 15px 2px 2px 2px;
}
input.invalid,textarea.invalid {
    background-color: #ffdddd;
}
#districtcontainer{
    margin: auto;
    width: 85%;
    padding-top: 20px;
}

#districtcol{
    border: 2px solid aquamarine;
    background-color: whitesmoke;
}
.form-control:focus,.form-select:focus {
    border-color: #00BFA6;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 
/* ---------------------------------------------------
   Toogle-switch
----------------------------------------------------- */
.switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 8px;
   color: rgb(14, 11, 11);
   cursor: pointer;
 }
 .switch-toggle input:checked + label {
   display: inline;
   background-color: #00BFA6;
 }
 .switch-toggle.switch-candy, .switch-light.switch-candy > span {
    background-color: cadetblue;
    border-radius: 25px;
    box-shadow: inset 0 2px 6px rgb(0 0 0 / 30%), 0 1px 0 rgb(255 255 255 / 20%);
}
.switch-toggle::after {
    clear: both;
    content: "";
    display: table;
    border-radius: 25px;
}
.switch-toggle label:nth-child(2):nth-last-child(6), .switch-toggle label:nth-child(2):nth-last-child(6) ~ label, .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
    border-radius: 25px;
}
.switch-candy a {
    border-radius: 35px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), inset 0 1px 1px rgb(255 255 255 / 45%);
    background-color: #00BFA6; 
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}
/* ---------------------------------------------------
   HOME.EJS
----------------------------------------------------- */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 0px;
    background: #fff;
    border: none;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.text-danger {
    color: #f2061d!important;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #00BFA6;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #04b9a1;
}
#sidebar ul.components {
    padding: 20px 0;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: black;
    background: #9ef7eb;
}

#sidebar ul li a.active{
    color: black;
    background: #03fddc;
}

.navbar-toggler{
    padding-top: 1.5%;
    padding-bottom:1.5%;
    background-color: aquamarine;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.form-check-input:checked {
    background-color: #00BFA6;
    border-color: #00BFA6;
}



