html,body{
    height:100%;
    margin: 0;
}
#loginbody{
    background-image: url('../img/login_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.tab {
    display: none;
  }
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #b3abab;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
.step.active {
    opacity: 1;
  }
.step.finish {
    background-color: #0ebb7c;
}
#signup_btn{
    text-align: end;
}
#signuprow{
    background: rgb(0,191,166);
    background: linear-gradient(90deg, rgba(0,191,166,1) 0%, rgba(16,84,70,0.8578781854538691) 74%, rgba(0,255,183,1) 100%);
}
#signupcol{
    border: 2px solid aquamarine;
    background-color: whitesmoke;
    border-radius: 2%;
}
#signupcontainer{
    padding: 15px 2px 2px 2px;
}
input.invalid,textarea.invalid {
    background-color: #ffdddd;
}
#districtcontainer{
    margin: auto;
    width: 85%;
    padding-top: 20px;
    
}

#districtcol{
    border: 2px solid aquamarine;
    background-color: whitesmoke;
}





